<br />
Subject:
<input type="text" [(ngModel)]="subject" />
<br />
<br />
<quill-editor
  [(ngModel)]="htmlText"
  placeholder="Enter Text"
  [modules]="quillConfig"
  (onSelectionChanged)="onSelectionChanged($event)"
  (onContentChanged)="onContentChanged($event)"
  (onFocus)="onFocus()"
  (onBlur)="onBlur()"
  [style.height.px]="300"
  class="border rounded dark:border-gray-600 dark:bg-gray-800 dark:text-white"
>
  > ></quill-editor
>

<h2>Preview email will show the following</h2>
Subject: {{ subject }}
<br />
<br />
Body:
<div [innerHTML]="htmlText"></div>
